.clothes-selection {
  
}

.clothes-selection__description {
  display: flex;
  gap: 20px;
}

.clothes-selection__label _{
    margin: 0;
}

.clothes-selection__btn {
    border: none;
    color: #00000099;
}
