.header {
  display: flex;
  align-items: center;
  padding: 32px 20px 28px;
  line-height: 24px;
  font-size: 20px;
  white-space: nowrap;
}

.header__logo {
  padding: 0;
}

.header__logo:hover {
  cursor: pointer;
  color:#00000099;
}

.header__date-and-location {
  padding: 24px;
}

.header__clothes-btn {
  margin-left: auto;
  background-color: transparent;
  border: none;
  gap: 20px;
}

.header__clothes-btn:hover {
  cursor: pointer;
  color:#00000099;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}

.header__link {
  color:#000;
  text-decoration: none;
}

.header__link_signin {
  color:#000;
  text-decoration: none;
  border: none;
}
.header__signin-btn{
   border: none;
}

.header__link_signup {
  color:#000;
  text-decoration: none;
 
}
.header__signup-btn{
   border: none;
}

.header__logout-btn{
  border-style: none;
  background-color: transparent;
}

.header__link:hover {
  color:#00000099;
  text-decoration: none;
}
