.switch__label{
    border: 2px solid #000;
    width: 56px;
    height: 28px;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    left: 580px;
}

.switch__checkbox{
    opacity: 0;
}

.switch__circle{
    background-color: #000;
    width: 28px;
    height: 28px;
    position: absolute;
    border-radius: 50%;
    left: 0;
    transition: all 0.3s ease;
}

.switch__text_F{
    color: #FFFFFF;
    position: absolute;
    top: 4px;
    left: 8px;
}

.switch__text_C{
    color: #00000080;
    position: absolute;
    top: 4px;
    right: 8px;
}

.switch__checkbox:checked ~ .switch__circle{
    left: auto;
    right: 0;
}
.switch__checkbox:checked ~ .switch__text_F{
    color: #00000080;
}

.switch__checkbox:checked ~ .switch__text_C{
    color: #FFFFFF;
}